*.dbmdl
*.user
*.suo
*.cache
*.log
*.log.*
obj
bin
ErrorLogs
Packages
*~
*.swp
_ReSharper*
*.db
*.orig
*.rej
*.vs10x
Build
Report

# don't exclude the Ruby bin!
![Tt]ools/Rake/lib/ruby/gems/1.8/gems/rake-0.8.7/bin/
![Tt]ools/Rake/bin